<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="cn.devzyh.smallspring.test.beans.UserDao"/>

    <bean id="userService" class="cn.devzyh.smallspring.test.beans.UserService">
        <property name="name" value="李四"/>
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>